
.navbar {
background-color: #212121;

}
#Purpose {
    background-color: #F50057;
    color: black;
    padding-top: 70px;
	padding-bottom: 10px;
    border-bottom-width: 1px;
   	border-bottom-style: solid;
   	border-bottom-color: rgba(255, 255, 255, 0.2);
}

}
.associates {
	clear: both;
	border-radius: 50%;
	padding-bottom: 10px;
	color: white;
	
}

#bio {
    
    color: black;
    height:10%;
    margin-left:0px;
    font-size: 15;
	transition-delay: 5s;
	transition: opacity 1s ease-in-out;
}
a:hover + #bio {
    opacity: 1;

}​

h2 {
	color: black;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

#Projects {
	clear: both;
	background-color: #90A4AE;
	padding-top: 50px;
	padding-bottom: 50px;
}
#Associates {
	clear: both;
	background-color: #BDBDBD;
	padding-top: 50px;
	border-bottom: 50px;
	padding-left: 20%;
	padding-right: 20%;

}
#Contact {
	clear: both;
	color: white;
	background-color: #212121;
	padding-top: 50px;
	padding-bottom: 50px;
}
#Footer {
	color: black;
	padding-right: 25px;
}
ul
{
    list-style-type: none;
    padding: 0;
}
a:link {
    text-decoration: none;
   	color: black;
}
a {
	color: black;
}
#left {
	float: left;
	width: 50%;
	list-style-position: center;
}
#right {
	float: right;
	width: 50%;
	list-style-position: center;
}

#People {
	clear: both;
}
